@model IEnumerable<aspnet03_portfolioWebApp.Models.PortfolioModel>

@{
    ViewData["Title"] = "홈";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<partial name="_Notification" />

@*<h1>Index</h1>*@

@*홈*@


<main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>📚 Tech Stack 📚</h2>
                <h6> Techs that I've used at least once</h6>
            </div>

            @*<div align="center">
            <ul class="m-auto">
            <li><i class="ri-check-double-line"></i> 🏫 UC Information Technoloy Software Development major</li>
            <li><i class="ri-check-double-line"></i> 🎓 UOU Information Technology Fusion major</li>
            <li><i class="ri-check-double-line"></i> 🌱 PKNU Windows Platform IoT Developer Course</li>
            </ul>
            </div>*@

            <div class="row content">


                <div align="center">
                    <p>✨ <b>Platforms & Languages</b> ✨</p>
                    <img src="https://img.shields.io/badge/Python-3776AB?style=flat-square&logo=Python&logoColor=white" />
                    <img src="https://img.shields.io/badge/C%23-%23239120.svg?style=flat-square&logo=c-sharp&logoColor=white" />
                    <img src="https://img.shields.io/badge/C-A8B9CC?style=flat-square&logo=C&logoColor=white" />
                    <img src="https://img.shields.io/badge/C++-00599C?style=flat-square&logo=C%2B%2B&logoColor=white" />
                    <img src="https://img.shields.io/badge/Selenium-43B02A?style=flat-square&logo=Selenium&logoColor=white" />
                    <img src="https://img.shields.io/badge/Tensorflor-FF6F00?style=flat-square&logo=TensorFlow&logoColor=white" />
                    <br>
                    <img src="https://img.shields.io/badge/Java-007396?style=flat-square&logo=Conda-Forge&logoColor=white" />
                    <img src="https://img.shields.io/badge/HTML5-E34F26?style=flat-square&logo=HTML5&logoColor=white" />
                    <img src="https://img.shields.io/badge/CSS3-1572B6?style=flat-square&logo=CSS3&logoColor=white" />
                    <img src="https://img.shields.io/badge/JavaScript-F7DF1E?style=flat-square&logo=JavaScript&logoColor=white" />
                    <br>
                    <img src="https://img.shields.io/badge/Arduino-00979D?style=flat-square&logo=Arduino&logoColor=white" /></a>
                    <img src="https://img.shields.io/badge/Raspberry Pi-C51A4A?style=flat-square&logo=Raspberry Pi&logoColor=white" /></a>
                    <br>
                    <img src="https://img.shields.io/badge/Oracle%20SQL-F80000?style=flat-square&logo=Oracle&logoColor=white" />
                    <img src="https://img.shields.io/badge/MySQL-4479A1?style=flat-square&logo=MySQL&logoColor=white" />
                    <img src="https://img.shields.io/badge/MariaDB-003545?style=flat-square&logo=MariaDB&logoColor=white" />
                    <img src="https://img.shields.io/badge/Linux-FCC624?style=flat-square&logo=Linux&logoColor=white" />
                </div>
                <br>

                <div align=center>
                    <br>
                    <p>🛠 <b>Tools</b> 🛠</p>
                    <img src="https://img.shields.io/badge/Visual%20Studio%20Code-007ACC?style=flat-square&logo=VisualStudioCode&logoColor=white" />
                    <img src="https://img.shields.io/badge/Visual%20Studio-5C2D91?style=flat-square&logo=Visual%20Studio&logoColor=white" />
                    <img src="https://img.shields.io/badge/Google%20Colab-F9AB00?style=flat-square&logo=Google%20Colab&logoColor=white" />
                    <img src="https://img.shields.io/badge/PyCharm-000000?style=flat-square&logo=PyCharm&logoColor=white" />
                    <img src="https://img.shields.io/badge/Eclipse%20IDE-2C2255?style=flat-square&logo=EclipseIDE&logoColor=white" />
                    <br>
                    <img src="https://img.shields.io/badge/Tomcat-F8DC75?style=flat-square&logo=ApacheTomcat&logoColor=white" />
                    <img src="https://img.shields.io/badge/Android Studio-3DDC84?style=flat-square&logo=Android&logoColor=white" /></a>
                    <img src="https://img.shields.io/badge/NGINX-009639?style=flat-square&logo=NGINX&logoColor=white" />
                    <img src="https://img.shields.io/badge/AWS-232F3E?style=flat-square&logo=AmazonAWS&logoColor=white" />
                    <img src="https://img.shields.io/badge/SVN-809CC9?style=flat-square&logo=Subversion&logoColor=white" />
                    <img src="https://img.shields.io/badge/GitHub-181717?style=flat-square&logo=GitHub&logoColor=white" />
                    <br>
                    <br />
                    <a href="https://github.com/kooweajeeI" class="btn-learn-more" target="_blank">View on GitHub</a>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section id="clients" class="clients section-bg">
        <div class="container">

            <div class="row" data-aos="zoom-in">

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <a href="https://github.com/kooweajeeI/Python2023" target="_blank">
                        <img src="~/themes/Arsha/assets/img/clients/python.png" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <a href="https://github.com/kooweajeeI/basic-CSharp-2023" target="_blank">
                        <img src="~/themes/Arsha/assets/img/clients/c-sharp.png" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <a href="https://github.com/kooweajeeI/cpp2023" target="_blank">
                        <img src="~/themes/Arsha/assets/img/clients/cpp.png" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <a href="https://github.com/kooweajeeI/pknu_aspnet_2023" target="_blank">
                        <img src="~/themes/Arsha/assets/img/clients/browser.png" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <a href="https://github.com/kooweajeeI/iot-database-2023" target="_blank">
                        <img src="~/themes/Arsha/assets/img/clients/mysql.png" class="img-fluid" alt="">
                    </a>
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <a href="https://github.com/kooweajeeI/miniprojects" target="_blank">
                        <img src="~/themes/Arsha/assets/img/clients/rad.png" class="img-fluid" alt="">
                    </a>
                </div>

            </div>

        </div>
    </section>
    <!-- End About Us Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                    <img src="~/themes/Arsha/assets/img/skills_githug.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                    <h3>Visit My <a href="https://github.com/kooweajeeI" class="btn-learn-more" target="_blank">GitHub</a></h3>


                    <div class="skills-content">

                        <div class="progress">
                            <span class="skill">HTML <i class="val">50%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">CSharp <i class="val">50%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Python <i class="val">50%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Delphi <i class="val">50%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">MySQL <i class="val">50%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- End Skills Section -->
    
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>포트폴리오</h2>
                <p>포트폴리오 및 쇼케이스를 감상하세요</p>
            </div>

            <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">My Portfolio</li>

            </ul>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        @Html.Raw($"<div class='col-lg-4 col-md-6 portfolio-item filter-Portfolio'>" +
                $"    <div class='portfolio-img'>" +
                $"        <img src='/uploads/{item.FileName}' class='img-fluid' alt=''>" +
                $"    </div>" +
                $"    <div class='portfolio-info'>" +
                $"        <h4>Portfolio</h4>" +
                $"        <a href='{item.Url}' target='_blank'><h4>{item.Title}</h4><i class='bx bx-plus'></i></a>" +
                $"    </div>" +
                $"</div>"
                )
                    }
                }

            </div>

        </div>
    </section>
    <!-- End Portfolio Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>Contact</h3>
                    <p> </p>
                    <div class="email">
                        <p class="bi bi-envelope-at-fill"></p>
                        <p>Email:</p>
                        <p>leejw2873@naver.com</p>
                    </div>
                </div>

                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="https://github.com/kooweajeeI">Contact</a>
                </div>
            </div>

        </div>
    </section>
    <!-- End Cta Section -->
</main><!-- End #main -->
